@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.flexbox {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 70px auto;
  justify-content: center;
}
mat-accordion {
  width: 420px;
}
