<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <img mat-card-avatar class="example-header-image2" src="assets/biotin.png">
      <mat-card-title>Biotín</mat-card-title>
      <mat-card-subtitle>Doplnok</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="biotin" src="assets/biotin.png">
    
    <mat-card-content>
      <p>
        Biotín prispieva k správnej látkovej premene, ktorá je dôležitá pre tvorbu energie, k správnej činnosti nervového systému, k správnej funkcii psychiky, k udržaniu zdravých vlasov a pokožky a k zachovaniu zdravých slizníc.Biotín však plní v tele aj ďalšie úlohy. Pomáha štiepiť tuky, cukry a bielkoviny, čím zlepšuje energetickú premenu. Zúčastňuje sa na tvorbe mastných kyselín, ktoré povzbudzujú rast buniek. Pozitívne ovplyvňuje hladinu cukru v krvi, je teda dôležitý pri liečbe cukrovky. Zmierňuje svalové bolesti, mravčenie v končatinách, podporuje vstrebávanie ďalších vitamínov, hlavne vitamínov skupiny B. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Odstrániť</button>
    </mat-card-actions>
  </mat-card>