
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Kreatín</mat-card-title>

    <mat-card-subtitle>Dolpnok</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://contents.mediadecathlon.com/p2006414/k8397231934536ccaf26259b8e166c6ea/2006414_default.jpg?format=auto&quality=70&f=800x0" alt="kreatin">
  <mat-card-content>
    <p>
     Kreatín je dobrý doplnok výživy.
    </p>
  </mat-card-content>

</mat-card>
