nav {
    background: linear-gradient(90deg, #001C36 0%, rgba(0, 28, 54, 0.8) 23.96%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    height: 96px;
    margin: 50px 80px 0px 80px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
    border-radius: 15px;
}

a {
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    height: 31px;
    margin-left: 100px;
    text-decoration: none;
}

p{
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    height: 31px;
    margin-left: 100px;
}

.kripix {
    width: 121.24px;
    height: 38.02px;
    font-size: 36px;
    margin-left: 0px;
}
span {
    font-size: 28px;
    height: 32px;
    margin-right: 115px;
}

img {
    width: 32px;
    height: 32px;
    margin-left: 70px;
}

.money {
    display: flex;
    align-items: center;

}

.spacer {
    flex-grow: 1;
}

.icon {
    height: 28px;
    width: 28px;
    font-size: 28px;
}
