@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
nav {
    font-family:"Poppins", sans-serif;
    background: linear-gradient(90deg, #001C36 0%, rgba(0, 28, 54, 0.8) 100%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    height: 96px;
    margin: 50px 80px 0px 80px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
    border-radius: 15px;
    background-color: inherit;
}

a {
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 50px;
    text-decoration: none;
}

p{
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
}

.kripix {
    font-size: 36px;
    margin: 0;
}
span {
    font-size: 28px;
    height: 32px;
    margin-right: 115px;
}

img {
    width: 42px;
    height: 42px;
    margin-left: 70px;
    margin-right: 10px;
}

.spacer {
    flex-grow: 1;
}

.icon {
    height: 28px;
    width: 28px;
    font-size: 28px;
}
.logo {
    display:flex;
    cursor: pointer;
    align-items: center;
}
.creative{
    display: flex;
    margin-right: 8em;
}
.register{
    margin-left: 1em;
}
.login{
    width: 249%;
    margin-left: 35px;
}
.register{
    width: 250%;
    margin-left: 25px;
}
.logout{
  width: 42px;
  height: 42px;
  font-size: 42px;
  color:#FFFFFF;
}
/* sidenav */

body {
    font-family:"Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: -400px;
  width: 14%;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
  margin-top: 96px;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 250px;
  left: auto;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 150px;
  margin-left: 50x;
}
.sidebar ul a i{
  margin-right: 1px;
  margin-left: 1px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}

/* background zmenene 
section{
  background: black;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

  /* sidenav */