<div class="detail-text"></div>
<div>

    <h2 class="detail-nadpis"> 10 dôvodov prečo je bvr *censored* </h2>
    <div class="detail-text">
        <p>
            Ako sa teda správne pred tréningom rozcvičiť? Možností je naozaj veľa, takže každý môže uplatniť svoju
            fantáziu a skúsenosti. V otázke, či je vhodnejší dynamický alebo statický strečing sa názory rôznia.
            Aktuálny vedecký konsenzus je taký, že statický strečing pred tréningom svaly a tkanivo okolo kĺbu oslabí,
            čo ma za následok zníženie výkonu a môže zvýšiť riziko zranenia. Zároveň by však statický strečing po
            tréningu, kedy sú už svaly dostatočne zahriate a nečaká ich ďalšia práca, mal napomáhať v regenerácii.
            Dynamický strečing by mal naopak pred tréningom nakopnúť nervový systém a dočasne zlepšiť výkonnosť. Dobrý
            kompromis môže byť pár minút aeróbnej aktivity na páse, nasledovanej dynamickou rozcvičkou a po tréningy
            jemný statický strečing, kedy sú už svaly zahriate.

        </p>
        <img class="detail-roller" src="assets/stretching.webp">
        <p>
            Spomeňme ešte tri jednoduché pomôcky, ktoré atléti využívajú v rámci rozcvičky, počas rehabilitácie, vo
            voľnom čase. Zaregistroval ste ich určite aj vo videách vyššie, takže poďme si priblížiť ich využitie.
        </p>
        <h2 class="detail-podnadpis">1.Foam roller</h2>
        <p>
            Penový valec je jednoduchá pomôcka, ktorá ti pomôže najmä s lepším rozsahom pohybu a možno nakopne
            regeneráciu a zmiernenie svalovice. Komplexný článok nájdeš tu. Pár minút v rámci tvojej dynamickej
            rozcvičky pred tréningom ti môže pomôcť cítiť sa lepšie.
        </p>
        <img src="assets/foamroller.webp" class="detail-roller">
        <h2 class="podnadpis">2.Odporové gumy</h2>
        <p>
            Sú tiež vynikajúcou voľbou pri kvalitnej rozcvičke. Gumy poslúžia aj v rámci tréningu, napríklad pri
            benchpresse, kde môžeš sťažiť/zjednodušiť časť pohybu. Druhy sú rôzne a samozrejme sa líši aj cena. Tu už
            záleží, na čo konkrétne budeš gumy využívať.
        </p>
        <img src="assets/expander.jpg" class="detail-roller">


        <h2 class="detail-podnadpis">3.Masážne loptičky</h2>
        <p>Nech ich nazveme už akokoľvek, sú to malé, nenápadné, no účinné pomôcky, ktoré ti pomôžu pri uvoľnení svalov
            a k zlepšeniu mobility či prevencii zranení. Myofasciálna masáž má potenciál, takže aj keď po prvom
            otestovaní loptičky budeš možno vykrúcať ústa jemnou bolesťou, pravdepodobne si tento princíp v rámci
            rozcvičky obľúbiš.</p>
        <img src="assets/lopticka.jpg" class="detail-roller">
    </div>
</div>