body{
  padding: 10px 100px 50px;
}
.example-card {
  max-width: 500px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 30px auto;
  justify-content: center;
}

.hero-bg{
=======
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 30px auto;
  justify-content: center;
}
.hero-img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  margin: 0;
  width: 1000px;


=======
  background-image: url('../../assets/images/gym.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}