 <div class="flexbox">
  <div class="flexbox">
    <mat-accordion>
    <mat-expansion-panel *ngFor="let category of categoryList$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{category}}
        </mat-panel-title>
        <mat-panel-description>
          Exercise
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-card [category]="category"></app-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
<div class="hero-img"></div>

