body{
  padding: 10px 100px 50px;
  background-color: #f0f0f0;
}
.example-card {
  max-width: 500px;
}
.cont, mat-sidenav-container {
  height: 98%;
  background-color: #f0f0f0;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 30px auto;
  justify-content: center;
}

.sidenav{
  width: 10%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 30px auto;
  justify-content: center;
  height: 100%;
}
.hero-img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  margin: 0;
  width: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}