<body>
  <h2>Benchpress</h2>
  <img src="assets/benchpress.jpg">
  <p>
    Bench press je cvikom číslo 1. Najčastejšie sa robí s veľkou činkou, ale veľký význam v tréningu má aj s jednoručkami.
    Tie, na rozdiel od veľkej činky umožňujú väčšiu dráhu pohybu. V tréningu by si mal meniť aj sklon lavičky.
    Aj keď najčastejšou verziou je tlak na rovnej lavičke, kde máš najväčšiu silu, zaraďuj do tréningu rôzne sklony lavičky, aby si svaly odcvičil v rôznych uhloch.
    Pri výtlaku činky hore neprepínaj lakte, pripravil by si sa o napätie vo svaloch a pri dolnej pozícii si neodrážaj činku od hrudníka.
    Negatívnu fázu pohybu, keď ide činka alebo jednoručky dole, rob pomaly kontrolovane. Pri výtlaku explozívne smerom hore.
    Keď si lahneš na lavičku, vypni hrudník, ramená ťahaj dole a lopatky k sebe.
  </p>

  <h2>Mŕtvy ťah</h2>
  <img src="assets/deadlift.jpg">
  <p>
    Jeden zo základných cvikov na silu celého tela a rozvoj svalstva chrbta. Existuje dokonca veľká skupina odborníkov, ktorí mŕtve ťahy neodporučajú cvičiť.
    Ale mŕtve ťahy sú základ, ak chceš byť silný a svalnatý. Na mŕtvy ťah je človek schopný zdvíhať obrovské váhy. Svetový rekord je v súčasnosti 501kg.
    Techniku je dôležité cibriť a môže to chvíľu trvať. Dôležité je tlačiť celou plochou chodidiel, v prvej fáze tlačiť hlavne nohami do zeme, až neskôr
    vystierať chrbát. Pri ťažších mŕtvych ťahoch môžeš použiť opasok, trhačky. Je vhodné požiadať o pomoc niekoho skúseného, aby dohliadol na techniku,
    lebo naozaj stačí málo a cvik nebudeš robiť správne a ani efektívne. V najlepšom prípade nebudeš dvíhať dostatočne ťažké váhy, v najhoršom sa môžeš
    zraniť na celý život.
  </p>

  <h2>Drep</h2>
  <img src="assets/squat.jpg">
  <p>
    Pri tomto cviku zapájaš najviac svalov na nohách - predné stehná, zadné stehná, zadok aj lýtka. Pri drepoch však zapájaš aj stabilizačné svaly
    tela - teda môžeš cítiť aj brucho alebo chrbát. Existuje niekoľko variantov drepov. Základná je s neutrálnym postojom, teda postojom na šírku
    ramien alebo o čosi širším. Ak sa postavíš naširoko, zapojíš do pohybu viac vnútorné stehná, preto tento spôsob drepu robí veľa dievčat.
    Pri širokom postoji maš veľkú silu, niekedy aj väčšiu ako pri klasickom, neutrálnom postoji. Pre zmenu môžeš zapojiť aj úzky postoj, kedy máš chodidlá
    pri sebe. V tomto prípade zapojíš viac vonkajšie stehná. Pohyb dole by mal byť samozrejme kontrolovaný, nie rýchly, čo v spodnej časti pohybu môže
    vyvolať príliš veľký tlak na kolená. Pri výtlaku hore by si však mal ísť rýchlejšie ako dole, explozívne. Pri klesaní sa nadychuješ, pri stupaní hore
    vydychuješ. Pri drepe zaťažuj rovnomerne celú plochu chodidla, nie iba päty alebo špičky.
  </p>
</body>
