<h1>Benchpress</h1>
<p>Bench press je cvikom číslo 1. Najčastejšie sa robí s veľkou činkou, ale veľký význam v tréningu má aj s jednoručkami.
  Tie, na rozdiel od veľkej činky umožňujú väčšiu dráhu pohybu. V tréningu by si mal meniť aj sklon lavičky.
  Aj keď najčastejšou verziou je tlak na rovnej lavičke, kde máš najväčšiu silu, zaraďuj do tréningu rôzne sklony lavičky, aby si svaly odcvičil v rôznych uhloch.
  Pri výtlaku činky hore neprepínaj lakte, pripravil by si sa o napätie vo svaloch a pri dolnej pozícii si neodrážaj činku od hrudníka.
  Negatívnu fázu pohybu, keď ide činka alebo jednoručky dole, rob pomaly kontrolovane. Pri výtlaku explozívne smerom hore.
  Keď si lahneš na lavičku, vypni hrudník, ramená ťahaj dole a lopatky k sebe.
</p>
