
<div class="flexbox">
    <mat-card class="example-card" *ngFor="let article of articles">
        <div [routerLink]="article.id">
            <mat-card-title>{{ article.name }}</mat-card-title>
            <div class="image">
                <img class="example-header-image" [src]="article.image" [alt]="article.name">
            </div>
            <mat-card-content>
                <p>
                {{article.description}}
                </p>
            </mat-card-content>
        </div>
        <mat-card-actions align="end">
            <button mat-button (click)="addToFavorite(article.id)">Uložiť</button>
        </mat-card-actions>
    </mat-card>
</div>
