@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body,html{
    font-family: 'Poppins', sans-serif;
    
}
.mat-body, .mat-body-1, .mat-typography {
    font: initial;
}