@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
   height: 100%;
   overflow-y: hidden;
}

.brichtabomby{
    float: right;
    width: 27%;
    margin-top: 8.5em;
}
.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    margin: 0;
    background-image: url('../../assets/images/gym.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nadpis{
    color: white;
    font-size: 3rem;
    margin-top: 2em;
    margin-left: 4.8em;
    line-height: 3.3rem;
    font-family:"Poppins", sans-serif;
}
.subhead{
    font-family:"Poppins", sans-serif;
    color: white;
    margin-top: 1em;
    margin-left: 9.9em;
    font-size: 1.5rem;
}
.welcome{
    height: 400px;
    margin-top: 2em;
    margin-left: 12em;
    line-height: 3.3rem;
}