<body>
    <div class="treningy">
        <h2 class="nadpis plan1"> PULL PUSH, LEGS </h2>
        <div class="text">
            <p>
                PULL - chrbát, biceps - zhyby na hrazde, mŕtve ťahy, sťahovanie hornej kladky, príťahy veľkej činky v predklone,
                bicepsový zdvih s jednoručkami, zdvihy na scottovej lavičke, kladivový zdvih s jednoručkami
            </p>
            <p>
                PUSH - hrudník, ramená, triceps - benchpress, tlaky s jednoručkami na šikmej lavičke, tlaky na ramená v sede, upažovanie s jednoručkami,
                francúzske tlaky, sťahovanie hornej kladky na triceps
            </p>
            <p>
                LEGS - drepy, leg press, bulharské drepy, výpady, zakopávanie
            </p>
            <p>
                DAY 1: Chest, Triceps, Shoulders
                1. Benchpress obojručnou činkou 8-10 x 4
                2. Benchpress jednoručkami na šikmej lavičke 10-12 x 4
                3. Pec Deck  12-15 x 3
                4. Military press 8-10 x 4
                5. Rozpažovanie v stoji 12-15 x 4
                6. Tricepsové dipy 8-10 x 4
                7. Tricepsové sťahovanie lanka 12-15 x 4
                DAY 2: Back & Biceps
                1. Zhyby 10 x 3
                2. Sťahovanie hornej kladky 10-12 x 3
                3. Priťahovanie veľkej činky v predklone 10-12 x 4
                4. Pull over 12-15 x 4
                5. Sťahovanie dolnej kladky na biceps 12-15 x 3
                6. Zdvíhanie jednoručiek v stoji 10 x 3
                7. Bicepsový zdvih na Scottovej lavičke s obojručkou 10 x 3
                DAY 3: Legs + abs
                1. Drepy 10 x 4
                2. Bulharské drepy 12 x 3 (na nohu)
                3. Leg press 10-15 x 4
                4a) Zakopávanie 10 x 4
                4b) Predkopávanie 10 x 4
                5. Dvíhanie nôh vo vise 10 x 4
                6. Skracovačky 15-20 x 40
                DAY 4: Rest day
            </p>
        </div>
        <h2 class="nadpis plan2">HRUDNÍK/TRICEPS, CHRBÁT/BICEPS, NOHY </h2>
            <div class="text">
                <p>Všetky svalové partie odcvičené za 3 dni, vždy deň po tréningu nôh dať day off</p>
                <p>Deň 1 - hrudník, triceps</p>
                <p>Deň 2 - chrbát, biceps</p>
                <p>Deň 3 - nohy, ramená</p>
                
            </div>
    </div>
</body>