    <div class="hero-bg"></div>
    <div class="treningy">
            
        <h2 class="nadpis plan1"> PUSH PULL LEGS </h2>
            <div class="text">
                <p>
                    PUSH - hrudník, ramená, triceps - benchpress, tlaky s jednoručkami na šikmej lavičke, tlaky na ramená v sede, upažovanie s jednoručkami,
                    francúzske tlaky, sťahovanie hornej kladky na triceps
                </p>
                <p>
                    PULL - chrbát, biceps - zhyby na hrazde, mŕtve ťahy, sťahovanie hornej kladky, príťahy veľkej činky v predklone,
                    bicepsový zdvih s jednoručkami, zdvihy na scottovej lavičke, kladivový zdvih s jednoručkami
                </p>
                <p>
                    LEGS - drepy, leg press, bulharské drepy, výpady, zakopávanie
                </p>
                <ul>
                        <p>Ďeň 1: Chest, Triceps, Shoulders</p>
                        <li>1. Benchpress obojručnou činkou 8-10 x 4</li>
                        <li>2. Benchpress jednoručkami na šikmej lavičke 10-12 x 4</li>
                        <li>3. Pec Deck  12-15 x 3</li>
                        <li>4. Military press 8-10 x 4</li>
                        <li>5. Rozpažovanie v stoji 12-15 x 4</li>
                        <li>6. Tricepsové dipy 8-10 x 4</li>
                        <li>7. Tricepsové sťahovanie lanka 12-15 x 4</li>
                        <p class="subhead">DAY 2: Back & Biceps</p>
                        <li>1. Zhyby 10 x 3</li>
                        <li>2. Sťahovanie hornej kladky 10-12 x 3</li>
                        <li>3. Priťahovanie veľkej činky v predklone 10-12 x 4</li>
                        <li>4. Pull over 12-15 x 4</li>
                        <li> 5. Sťahovanie dolnej kladky na biceps 12-15 x 3</li>
                        <li>6. Zdvíhanie jednoručiek v stoji 10 x 3</li>
                        <li>7. Bicepsový zdvih na Scottovej lavičke s obojručkou 10 x 3</li>
                        <p class="subhead">Deň 3: Legs + abs</p>
                        <li>1. Drepy 10 x 4</li>
                        <li>2. Bulharské drepy 12 x 3 (na nohu)</li>
                        <li>3. Leg press 10-15 x 4</li>
                        <li>4a) Zakopávanie 10 x 4</li>
                        <li>4b) Predkopávanie 10 x 4</li>
                        <li>5. Dvíhanie nôh vo vise 10 x 4</li>
                        <li>6. Skracovačky 15-20 x 40</li>
                        <p class="subhead">Deň 4: Voľno</p>
                    
                </ul>
                
            </div>
        <h2 class="nadpis plan2">HRUDNÍK/TRICEPS, CHRBÁT/BICEPS, NOHY </h2>
                <div class="text">
                    <p>Všetky svalové partie odcvičené za 3 dni, vždy deň po tréningu nôh dať day off</p>
                    <p>Deň 1 - hrudník, triceps</p>
                    <p>Deň 2 - chrbát, biceps</p>
                    <p>Deň 3 - nohy, ramená</p>
                </div>
    </div>   