
    <div class="hero-bg"></div>
    <div class="treningy">
            
        <h2 class="nadpis plan1"> PUSH PULL LEGS </h2>
            <div class="text">
                <p>
                    PUSH - hrudník, ramená, triceps - benchpress, tlaky s jednoručkami na šikmej lavičke, tlaky na ramená v sede, upažovanie s jednoručkami,
                    francúzske tlaky, sťahovanie hornej kladky na triceps
                </p>
                <p>
                    PULL - chrbát, biceps - zhyby na hrazde, mŕtve ťahy, sťahovanie hornej kladky, príťahy veľkej činky v predklone,
                    bicepsový zdvih s jednoručkami, zdvihy na scottovej lavičke, kladivový zdvih s jednoručkami
                </p>
                <p>
                    LEGS - drepy, leg press, bulharské drepy, výpady, zakopávanie
                </p>
                <ul>
                    <p>Ďeň 1: Hrudník, Triceps, Ramená</p>
                    <li>1. Benchpress obojručnou činkou 8-10 x 4</li>
                    <li>2. Benchpress jednoručkami na šikmej lavičke 10-12 x 4</li>
                    <li>3. Pec Deck  12-15 x 3</li>
                    <li>4. Military press 8-10 x 4</li>
                    <li>5. Rozpažovanie v stoji 12-15 x 4</li>
                    <li>6. Tricepsové dipy 8-10 x 4</li>
                    <li>7. Tricepsové sťahovanie lanka 12-15 x 4</li>
                    <p class="subhead">DAY 2: Chrbát & Biceps</p>
                    <li>1. Zhyby 10 x 3</li>
                    <li>2. Sťahovanie hornej kladky 10-12 x 3</li>
                    <li>3. Priťahovanie veľkej činky v predklone 10-12 x 4</li>
                    <li>4. Pull over 12-15 x 4</li>
                    <li> 5. Sťahovanie dolnej kladky na biceps 12-15 x 3</li>
                    <li>6. Zdvíhanie jednoručiek v stoji 10 x 3</li>
                    <li>7. Bicepsový zdvih na Scottovej lavičke s obojručkou 10 x 3</li>
                    <p class="subhead">Deň 3: Nohy + Brucho</p>
                    <li>1. Drepy 10 x 4</li>
                    <li>2. Bulharské drepy 12 x 3 (na nohu)</li>
                    <li>3. Leg press 10-15 x 4</li>
                    <li>4a) Zakopávanie 10 x 4</li>
                    <li>4b) Predkopávanie 10 x 4</li>
                    <li>5. Dvíhanie nôh vo vise 10 x 4</li>
                    <li>6. Skracovačky 15-20 x 40</li>
                    <p class="subhead, last">Deň 4: Voľno</p>
                    
                </ul>
                
                <div class="pushpullimage">

                <img class="pushpull" src="assets/push-pull-legs.jpg">

                </div>
                <div class="img-spacer"></div>
                
            </div>
                <h2 class="nadpis plan2">FULL BODY </h2>
                    <div class="text2">
                        <p>Tento tréningový plán sa skladá z dvoch full-body(celé telo) tréningov. Je to dobrý tréningový plán pre začiatočníkov. Je dôležité, aby ste medzi jednotlivé tréningy zaradili minimálne jeden deň voľna.</p>
                        <ul class="fullbodyplan">
                            <p>TRÉNINGOVÝ PLÁN A</p>
                            <li>1. Výpady: 2 na každú nohu po 20 opakovaní</li>
                            <li>2. Leg press: 3 série/ 15 opakovaní</li>
                            <li>3. Hyperextenzie: 2 série/ 15 opakovaní</li>
                            <li>4. Brucho: cvik „bicykel": 3 série/ 15 opakovaní</li>
                            <li>5. Kliky na prsia: 2 série/15 opakovaní</li>
                            <li>6. Bench-press: 3 série/ 15 opakovaní</li>
                            <li>7. Príťahy T činky v predklone: 3 série/ 15 opakovaní</li>
                            <li>8. Príťahy V držiaka k hrudníku: 2 série/ 20 opakovaní</li>
                            <li>9. Príťahy spodnej kladky k brade: 2 série/ 20 opakovaní</li>
                            <li>10. Bicepsový zdvih na kladke: 2 série/ 15-20 opakovaní</li>
                            <li>11. Sťahovanie kladky na triceps: 2 série/ 15-20 opakovaní</li>
                            
                            <p class="subhead">TRÉNINGOVÝ PLÁN B</p>
                            <li>1. Predkopávanie: 2 série/15 opakovaní</li>
                            <li>2. Zakopávanie: 2 série/ 15 opakovaní</li>
                            <li>3. Hacken drep: 3 série/ 12-15 opakovaní</li>
                            <li>4. Príťahy jednoručiek v predklone: 2 série/ 15 opakovaní</li>
                            <li>5. Veslovanie v sede so širokým úchopom: 2 série/ 20 opakovaní</li>
                            <li>6. Rozpažovanie v predklone: 3 série/ 15 opakovaní</li>
                            <li>7. Tlaky nad hlavu v sede: 3 série/ 15 opakovaní</li>
                            <li>8. Peck-deck: 2 série/ 20 opakovaní</li>
                            <li>9. Striedavý bicepsový zdvih s jednoručkami: 2 série/ 12 opakovaní</li>
                            <li>10. Tricepsové kľuky: 2 série/ max.</li>
                            <li>11. Výpony: 2 série/ 20 opakovaní</li>
                            <li>12. Dvíhanie nôh v ľahu/ visu: 3 série/ 15 opakovaní</li>
                            <li class="last">13. Plank: 3 série/30 sekúnd</li>
                        </ul>
                        <div class="fullbodyimage">

                            <img class="fullbody" src="assets/fullbody.jpg">
            
                            </div>
                            <div class="img-spacer2"></div>
                            
                    </div>
        </div>   